.wrapper{
    /* //padding-top: 5px; */
      display: grid;
    grid-template-columns: 2fr 4fr 1fr ;

}
.listElements ul{
    list-style-type: none;
    float: right;
}
.listElements ul li{
    color: white;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.listElements ul li a{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    margin-right: 20px;
}

.listElements ul li a img{
    display: block;
    margin-left: 35%;
}
.searchInput{
    width: 80%;
    display: inline-block;
}

.searchInput button{
    border: 0px;
    width: 15%;
    color: #e44d3a;
    border-radius: 3px ;
}
.logoContainer{
    display: inline-block;
    margin-right: 5%;
}
.searchInput input{
    height: 40px;
    font-size: 12px;
    font-weight: 100;
}

.box1{
    padding-top: 5px;
}
.box2{
    padding-top: 5px;
}
.box3{
    padding-top: 5px;
    height: 100%;
    width: 100%;
    border-left: 0.3px solid #dd3e2b;
    border-right: 0.3px solid #dd3e2b;
}

.userpic img{
    height: 35px;
}