.infoBox{
    background: white;
    text-align: center;
    padding: 20px;
    h5{
        font-size: 20px;
        font-weight: 600;
    }
    span{
        color: #686868;
        font-size: 14px;
    }
    a{
        color: #e44d3a;
        font-size: 14px;
        font-weight: 500;
    }
    >div{
        padding-bottom: 10%;
    }
}

.downDiv{
    padding: 5%;
    border-top: 1px solid #e5e5e5;
}
